@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.home-section {
  h1 {
    color: $primary;
  }

  body {
    text-align: center;
    margin: auto;
  }
}